/** CSS PROJETS HAPPIWORK **/

body {
	background : url("../images/body.png") repeat scroll 0% 0% transparent;
	margin: 0 auto;
}


/** CONTENT **/
.content {
	width: 100%;
	height: 75rem;
	padding-top: 4%;
	margin: auto;
	font-family: 'Helvetica Neue';
}

.content h1 {
	text-align: center;
	color: #F2A101;
	font-size: 2rem;
	margin-bottom: 1%;
}

.content p {
	font-size: 1.1rem;
	/**color: #90A0D7;**/
	color: #A7A8A8;
	text-align: center;
	margin-right: 2%;
}

.content li p {
	margin-top: 12%;
}

.content a {
	color: #2252A5;
}

.content h2 {
	text-align: center;
	color: #FEEA34;
	font-size: 1.5rem;
	padding-top: 1%;
	background-color: #87CBFE;
}

/** Projet **/ 
section[name="beginning"] li, section[name="aftermatch"] li{
	width: 15%;
	height: 7rem;
	background-color: #F4F4F4;	
	border: 2px solid #87CBFE;
	border-radius: 3% 3% 3% 3%;
	list-style: none outside none;
	position: relative;
	margin: 1em 0px;
	margin-left: 42%;
	margin-bottom: 2%;
}

section[name="calendar"] {
	width : 100%;
	height: 29rem;
}

section[name="calendar"] ol li{
	width: 15%;
	height: 8rem;
	background-color: #F4F4F4;	
	border: 2px solid #87CBFE;
	border-radius: 3% 3% 3% 3%;
	list-style: none outside none;
	position: relative;
	margin: 1em 0px;
}

.content img {
	display: block;
	margin-bottom:2%;
	margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
	width: 5%;
	height: 7rem;
}

/** Organisation calendrier **/
section ol {
	padding : 0%;
}

section  ol  li:nth-child(1),section  ol  li:nth-child(5),section  ol  li:nth-child(9) {
	float: left;
	left: 12%;
	clear: left;
	margin-right: 2%;
}

section  ol  li:nth-child(2),section  ol  li:nth-child(6),section  ol  li:nth-child(10) {
	float: left;
	left: 15%;
	margin-right: 2%;
	
}

section  ol  li:nth-child(3),section  ol  li:nth-child(7),section  ol  li:nth-child(11) {
	float: right;
	right: 33%;
	margin-left: 2%;
	
}

section  ol  li:nth-child(4),section  ol  li:nth-child(8),section  ol  li:nth-child(12) {
	float: right;
	left: 4%;
	margin-left: 2%;
}


/** Soulignement des liens **/
section a:hover {
	text-decoration: none;
	border-bottom: 1px dashed;
}

section strong {
	color: #F2A101;
}

a {
    text-decoration: none;
}

body, html {
	width: 100%;
	height: 100%;
	font-size: 100%;
}