/** CSS PAGE INTERET BUSINESS **/

body {
	background : url("../../images/body.png") repeat scroll 0% 0% transparent;
	margin: 0 auto;
}

article {
	width: 100%;
	height: 45rem;
	margin: auto;
}

article h1 {
	font-family: 'Helvetica Neue';
	text-align: center;
	color: #F2A101;
	font-size: 1.5rem;
	margin-bottom: 1%;
	padding-top: 5%;
}

article p {
	padding-top: 2%;
	font-family: 'Helvetica Neue';
	font-size: 1.2rem;
	/**color: #90A0D7;**/
	color: #5A5A5A;
	text-align: center;
	margin : auto;
}

article ul li{
	text-align: center;
	padding-top: 2%;
	font-size: 1.2rem;
	/**color: #90A0D7;**/
	color: #5A5A5A;
}

#networking {
	width:22%;
	height: 14rem;
	position: absolute;
	top: 45%;
	left: 4%;
}

#comm {
	width:18%;
	height: 20rem;
	position: absolute;
	top: 40%;
	left: 77%;
}


/** Soulignement des liens **/
article a:hover {
	text-decoration: none;
	border-bottom: 1px dashed;
}

article strong {
	color: #F2A101;
}


a {
    text-decoration: none;
}

body, html {
	width: 100%;
	height: 100%;
	font-size: 100%;
}