/** CSS PAGE MENTIONS LEGALES **/

body {
	background : url("../../images/body.png") repeat scroll 0% 0% transparent;
	margin: 0 auto;
}

aside[name="mlegales"] {
	width: 100%;
	height: 50rem;
	padding-top: 2%;
	margin: auto;
}

aside[name="mlegales"] h1 {
	font-family: 'Helvetica Neue';
	text-align: center;
	color: #F2A101;
	font-size: 2rem;
	margin-bottom: 1%;
	margin-right: 1%;	
	text-transform: uppercase;
}

aside[name="mlegales"] img {
	padding-top:2%;
	padding-bottom:1%;
	display: block;
	margin: auto;
}

aside[name="mlegales"] p {
	padding-top: 1%;
	font-family: 'Helvetica Neue';
	font-size: 1.3rem;
	color: #90A0D7;
	text-align: center;
}

aside[name="mlegales"] a {
	color: #2252A5;
}

/** Soulignement des liens **/
aside[name="mlegales"] a:hover {
	text-decoration: none;
	border-bottom: 1px dashed;
}

aside[name="mlegales"] strong {
	color: #F2A101;
}

/** Couleur balise strong pour les principes de ma vie **/
#bleu {
	color: #2252A5;
}

#orange {
	color: #F2A101;
}

#jaune {
	color: #FEE22A;
}

a {
    text-decoration: none;
}

body, html {
	width: 100%;
	height: 100%;
	font-size: 100%;
}
