/** CSS DE MON SITE WEB **/
/** By Emmanuel Halter **/

/** CSS pour la création de l'icône du premier fils **/
/**#menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 15px;
    top: -7px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #B6E4F2;
}

#menu ul li:first-child a:hover:after{
    border-bottom-color: #B6E4F2;
}**/


/** CONTENT HOME **/
body {
	background : url("../../images/body.png") repeat scroll 0% 0% transparent;
	margin: 0 auto;
}


/** CONTENT **/
aside[name="friends"] {
width: 100%;
height: 44rem;
padding-top: 2%;
margin: auto;
font-family: 'Helvetica Neue';
}

aside[name="friends"] h1 {
	text-align: center;
	color: #F2A101;
	font-size: 2rem;
	text-align : center;
	margin-right: 0%;
	text-transform: uppercase;
	
}

aside[name="friends"] h2 {
	color: #304D90;
	text-align: center;
	font-style: italic;
	font-size: 0.80rem;
}

aside[name="friends"] h3 {
	text-align: center;
	color: #F2A101;
	font-size: 1.3rem;
	text-align : center;
	margin-right: 0%;
	margin-bottom: 0%;
	margin-top: 3%;	
}

aside[name="friends"] p {
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 1.1rem;
	color: #90A0D7;
	text-align: center;
	margin-right: 0%;
}

aside[name="friends"] a {
	color: #2252A5;
	font-style: bold;
	font-size: 1.1rem;
}

/** Soulignement des liens **/
aside[name="friends"] a:hover {
	text-decoration: none;
	border-bottom: 1px dashed;
}

aside[name="friends"] strong {
	color: #F2A101;
}

aside[name="friends"] ul li {
	color: #90A0D7;
	text-align:center;
	margin-bottom: 1%;
	list-style: none outside none;
}

/** DIVERS **/ 

a {
    text-decoration: none;
}

body, html {
	width: 100%;
	height: 100%;
	font-size: 100%;
}