/** CSS PAGE CONTACT **/

body {
	background : url("../../images/body.png") repeat scroll 0% 0% transparent;
	margin: 0 auto;
}

#contact{
	padding-top: 2%;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	margin-bottom: 3%;
	margin-top: 1%;
}

/** SECTION CONTACT **/

section h1 {
	font-family: 'Helvetica Neue';
	font-size: 2rem;
	text-align : center;
	color: #F2A101;
	font-weight:bold;
}

section p {
	font-family: 'Helvetica Neue';
	color: #90A0D7;
	text-align: center;
}

form {
	margin: auto;
	width: 100%;
}

form input[type="text"], form textarea  {
    width: 28%;
	padding: 0% 0%;
}

form input[type="text"] {
    height: 2rem;
}

form textarea {
	height: 22%;
	background-color: #F5F6F6;
}

#identity input[type="text"] {
	width: 27%;
}

#identity label{
	color: #6A7573;
	font-family: 'Helvetica Neue';
	font-size: 1rem;
}

#input_container_left{
	width: 49%;
	float: left;
	padding-bottom: 1%;
	text-align: right;
}

#input_container_right{
	width: 49%;
	float: right;
	padding-bottom: 1%;
}

form p {
	font-family: 'Helvetica Neue';
	color: #90A0D7;
	font-weight: bold;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	font-size: 1rem;
}

form input[type="text"], #cform textarea {
	border: 1px solid rgb(143, 148, 154);
	border-radius: 2% 2% 2% 2%;
}

.field_required {
	color: #C11F29;
	margin-left: 0%;
}

input {
	vertical-align: middle;
}

.input_container {
text-align:center;
}

form a {
	color:#F2A101;
	font-size: 1rem;
	font-family: verdana,sans-serif;
	vertical-align: middle;
}

form button {
	border-radius: 10% 10% 10% 10%;
	border: 1px solid rgb(143, 148, 154);
	background-color: #2A62AB;
	width: 12%;
	height: 5%;
	cursor: pointer;
	vertical-align: middle;
}

form button > span {
	font-size: 1.2rem;
	color: #EFE237;
	font-family: verdana,sans-serif;
}

/** DIVERS **/ 

a {
    text-decoration: none;
}

body, html {
	width: 100%;
	height: 100%;
	font-size: 100%;
}
