/** CSS DE MON SITE WEB **/
/** By Emmanuel Halter **/


/** HEADER **/ 
header {
	background-color: #B6E4F2 ;
	width:100%;
	height:5rem;
}

* {
    padding: 0%;
    border: medium none;
    margin: 0%;
}

/** Header left section **/
header > a {
margin : auto;
width: 17rem;
height: 2rem;
float: left;
}

/** Header right section**/
header div {
float : right;
width: 30%;
height: 4rem;
margin-top: -2.8%;
}

header > a img {
padding-left: 2%;
}

/** Quote Part **/ 
header blockquote h1:first-letter {
	padding-left:20px;
}

header blockquote{    
    text-align: justify;
	font-weight: normal;
	font-size: 0.8rem;
	padding-top: 6%;
	padding-right: 3%;
	color: #F2A101;
}

header div[name]  h2 {
text-align : center;
font-style: italic;
font-weight: normal;
font-size: 1rem;
color: #304D90;
}

header div[name]{
width:91%;
top: 5%;
float: left;
}

/** Language **/
header div aside {
width: 9%;
height: 100%;
float: right;
margin-top: 1.5%;
}

/** FOOTER **/
footer {
    background: url("../../images/bottom.png") repeat-x scroll left top rgb(239, 239, 239);
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	width: 100%;
	height:6rem;
	margin : auto;
	padding: 2% 0%;
}

footer h1 {
color: #7D8484;
font-family: 'BebasNeue';
font-size: 2rem;
line-height: 0.5em;
margin-bottom: 5%;
text-transform: lowercase;
font-variant: small-caps;
text-align: center;
}

/** Networking **/
footer section[name="network"] {
float: left;
padding-left: 10%;
}

/** Useful links **/
footer section[name="about"] {
float: right;
padding-right:10%;
}

footer section[name="about"] p {
margin: 0% 0% 5%;
font-family: 'PMN55',arial,verdana,sans-serif;
text-align: center;
font-size: 1.2rem;
}

footer section[name="about"] a {
	color: #2252A5;
}

small {
	font-size: 80%;
	font-family: 'PMN55',arial,verdana,sans-serif;
	font-size: 1rem;
}

/** ICON STAY CONNECTED **/
#connect-facebook {
background : url("../../icon/facebook_maj.png") no-repeat scroll -8px -5px transparent;
width: 25%;
height: 2rem;
padding: 0% 0% 10% 20%;
}

#connect-linkedin {
background : url("../../icon/linkedIn_maj.png") no-repeat scroll -8px -5px transparent;
width: 30%;
height: 2rem;
padding: 0% 0% 10% 20%;
}

#connect-skype {
background : url("../../icon/skype.png") no-repeat scroll -8px -5px transparent;
width: 45%;
height: 2rem;
padding: 0% 0% 10% 20%;
}

.sbconnecticon {
    margin-left: 12%;
    margin-right: auto;
	margin-top:2%;
}

/** NAV MENU **/
nav {
	width: 55%;
	height: 2.8rem;
	font-family: 'BebasNeue';
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: 1px;
	margin: auto;
	right:7%;
	margin-right: 31%;
	padding-top: 0.7%;
}

nav > ul {
text-align : center;
width: 100%;
margin: auto;
height: 2.8rem;
}

/** Liens menu **/
nav li {
display:inline-block;
position:relative;
width: 18%; 
height: 2.8rem;
border-radius: 9px 9px 9px 9px;
background: none repeat scroll 0% 0%;
}

nav li a {
    color: #FEE92A;
    display: table-cell;
	padding-top: 4%;
	width: 14%;
	font-size: 1.5rem;
	font-weight: bold;
}

nav  li:nth-child(1) {
	background-color : #87CBFE;
}

nav  li:nth-child(2) {
	background-color : #6DC0FE;
	/**background-color: #FEB710;**/
}

nav  li:nth-child(3) {
	background-color : #43ADFE;
}
nav  li:nth-child(4) {
	background-color : #219EFE;
}

nav li:nth-child(5) {
	background-color : #0190FE;
}

/** NAV SOUS-MENU **/

ul[name="menu"] ul li{
display:inherit;
-webkit-border-radius:0;
   -moz-border-radius:0;
        border-radius:0;
width: 100%;
height: 2.5rem;
}

ul[name="menu"] ul li:hover{
-webkit-border-radius:0;
   -moz-border-radius:0;
        border-radius:0;
}

/** Effet sur le contour des sous-menu **/
ul[name="menu"] ul li:first-child {
-webkit-border-radius:9px 9px 0 0;
   -moz-border-radius:9px 9px 0 0;
        border-radius:9px 9px 0 0;
	margin-top: 3%;
}


ul[name="menu"] ul li:last-child{
-webkit-border-radius:0 0 9px 9px;
   -moz-border-radius:0 0 9px 9px;
        border-radius:0 0 9px 9px;
}

ul[name="menu"] ul{
position:absolute;
max-height:0;
width:100%;
height:auto;
overflow:hidden;
text-align : center;
list-style: none;
margin:0;
padding-top: 7%;
-moz-transition: .7s all .2s;
-webkit-transition: .7s all .2s;
-o-transition: .7s all .2s;
-ms-transition: .7s all .2s;
transition: .7s all .2s;
}

/** Comportement au survol des sous-menus **/
ul[name="menu"] li:hover ul{
max-height:15em;
}

ul[name="menu"] ul a{
padding-top: 0.8rem;
color: #FEE92A;
text-align: center;
font-size: 1rem;
}

ul[name="menu"] li:hover li a{
color:#FEE92A;
text-transform:inherit;
}

ul[name="menu"] li li:hover a{
color:#959594;
}

/** background des liens sous menus **/
ul[name="menu"] li li {
background: none repeat scroll 0% 0%;
padding-bottom: 5px;
}

ul[name="menu"] li:nth-child(2) li{
background-color : #6DC0FE;
}

ul[name="menu"] li:nth-child(3) li{
background-color : #43ADFE;
}

ul[name="menu"] li:nth-child(4) li{
background-color : #219EFE;
}

/** background des sous menus au survol **/
ul[name="menu"] li li:hover{
background:#B6E4F2;
}

/** CONTENT HOME **/
body {
	background : url("../../images/body.png") repeat scroll 0% 0% transparent;
	margin: 0 auto;
}

.content {
	width: 100%;
	height: 100%;
	margin: auto;
}

.content img {
width: 20%;
display: block;
padding-left : 41%;
margin-bottom: 2%;
margin-top: 3%;
}

article {
margin-bottom: 1%;
margin-top: 4%;
width: 90%;
}

article h1 {
	font-family: 'Helvetica Neue';
	margin: auto;
	display: block;
	font-size: 2.2rem;
	color: #284298;
	width: 90%;
	padding-left: 10%;
	text-align: center;
}

article p {
	margin-top : 2%;
	font-family: 'Helvetica Neue';
	float: right;
	width: 60%;
	font-size: 1.5rem;
	color: #90A0D7;
	text-align: center;
	padding-right: 15%;
}

article a, h1 strong{
	color: #F2A101;
}

article a:hover {
    text-decoration: none;
	border-bottom: 1px dashed;
}

a {
    text-decoration: none;
}

body, html {
	width: 100%;
	height: 100%;
	font-size:100%;
}